services:
  mcp-server:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    ports:
      - "8788:8788"
    env_file:
      - .env
    networks:
      - mcp-network
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=your_username
      - POSTGRES_PASSWORD=your_password
      - POSTGRES_DB=mcp_server
    networks:
      - mcp-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  mcp-network:
    driver: bridge
